body {
    width: 100%;
    font-size: 14px;
}

.container {
    margin-top: 50px;
}

.list-group-item {
    cursor: pointer;
}

.correct {
    background-color: #289a27;
}

.incorrect {
    background-color: #c41a21;
}

.buttons {
    padding: 10px 10px 10px 0;
}
.buttons1{
    display: none;
}
.time{
    margin-left: 45%;
}


.answers{
    margin-top: 50px;
    background-color: darkgrey;
    display: inline-flex;
    margin-right: 10px;
    justify-content: center;
    align-content: space-between;
    width: 100%;
    height: 70px;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 10px;

    text-align: center;
    font: 24px Arial, sans-serif;
    padding: 10px;
    border: 2px solid #666;
    color: black;
}

.timeContainer{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
}

.timer{
    width: 100%;
    height: 25px;
}

.slider{
    width: 100%;
    height: 100%;
    background-color: darkgrey;

}
